
/* --------------------共通レイアウト（背景）----------------------- */
/* 画面の設定 */
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/sample03.png");
  background-repeat: no-repeat;
  background-size: cover;           
  background-position: center;      
  background-attachment: fixed;     
  font-family: 'Rounded M PLUS 1c', 'Noto Sans JP', sans-serif;
}

/* レスポンシブ対応ラッパークラス */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* 初期ページタイトル */
#top_title {
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  color: black;
  white-space: nowrap;
  border-radius: 1rem;
  box-shadow: 10px 10px 0 #41dd87;
  border-style: solid;
  border-color: #41dd87;
  padding: 1.5rem 2rem;
}

/* 初期ページの名前入力部分 */
.box {
  position: absolute;
  top: 67vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 10px 10px 0 #FF8B20;
  border-style: solid;
  border-color: #FF8B20;
  font-weight: bold;
}

.box input {
  padding: 0.5rem;
  width: 250px;
  margin: 1rem 0rem 0.5rem ;
  border-style: solid;
  border-radius: 8px;
  border-color: #555;
}

.box button {
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
  background-color: #FF8B20;
  border-radius: 8px;
  transition: 0.5;
  transition-timing-function: ease;
}
button:hover {
  scale: 1.2;
}


/* -----------------------進行管理ホワイトボード-------------------------- */
/* 付箋ページのタイトル */
#main_title {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: black;
  padding: 0.5rem 1rem;
}

/* 付箋ページのユーザーネーム表示 */
#userLabel {
  font-size: large;
  font-family: 'Rounded M PLUS 1c', 'Noto Sans JP', sans-serif;
  position: absolute;
  top: 2%;
  right: 2%;
}

/* 付箋制作エリア（タスク入力欄のレイアウト） */
.note {
  position: relative;
  padding: 50px;
  margin: 30px;
  border-radius: 4px;
  font-weight: bold;
}

#window1 {
  position: absolute;
  top: 80%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#window1 input {
  border: solid;
  border-radius: 8px;
  border-color: #555;
  background-color: #fff;
}
#window1 button {
  background-color: #B0E2FF;
  border-radius: 8px;
  padding: 0.2rem;
  transition: 0.5;
  transition-timing-function: ease;
}
#window2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#window2 input {
  border: solid;
  border-color: #555;
  border-radius: 8px;
  background-color: #fff;
}
#window2 button {
  background-color: #d7ffd7;
  border-radius: 8px;
  padding: 0.2rem;
  transition: 0.5;
  transition-timing-function: ease;
}
#window3 {
  position: absolute;
  top: 80%;
  left: 84%;
  transform: translate(-50%, -50%);
  text-align: center;
} 
#window3 input {
  border: solid;
  border-radius: 8px;
  border-color: #555;
  background-color: #fff;
}
#window3 button {
  background-color: #ffc9d2;
  border-radius: 8px;
  padding: 0.2rem;
  transition: 0.5;
  transition-timing-function: ease;
}

/* ３つのステージ全体のレイアウト */
.board {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
/* 各ステージのレイアウト */
.column {
  background: #fff;
  border: 1px solid #ccc;
  width: 32%;
  min-height: 300px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 10px 10px 0 #41dd87;
}





/* ----------------------------付箋のレイアウト---------------------- */
.task {
  width: 200px;
  min-height: 40px;
  margin: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
  /* デフォルトカラーを設定 */
  background-color: #ffff88;
  position: relative;
  transition: transform 0.1s ease;
}
/* 付箋の動き */
.sticky:hover {
  transform: scale(1.02);
}

/* 通常業務の付箋 */
.right-blue {
  background-color: #B0E2FF;
}
/* 共有・報告業務の付箋 */
.right-green {
  background-color: #d7ffd7;
}
/* 緊急業務の付箋 */
.pink {
  background-color: #ffc9d2;
}






/* 以下マルチデバイス対応用のメディアクエリ */
/* スマホ用 */
@media (max-width: 767px) {
  .wrapper {
    padding: 0 10px;
    max-width: 100%;
    position: relative;
  }

  body {
    border: 5px solid red !important;
    margin: 0;
    padding: 0;
    background-image: url("../images/stickyapp_mobile.png");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;           
    background-position: center;      
    /* background-attachment: fixed;      */
    font-family: 'Rounded M PLUS 1c', 'Noto Sans JP', sans-serif;
  }

  #top_title {
    font-size: small;
    top: 50vh;
  }
}
